<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Sweets in major cities</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>        
        <link href="page3.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    </head>
    <body>
        <h1>Please pick a sweet from L.A.</h1>
<div class="grid-container">
 <div class="grid-item">        
 
 <div class="dropdown">
 <button class="dropbtn">Ice Cream</button>
 <div class="dropdown-content">
   <a href="http://mashtimalone.com/">Mashti Malone's</a>
   <a href="http://carmelaicecream.com/">Carmela</a>
   <a href="https://www.wanderlustcreamery.com/">Wanderlust Creamery</a>
 </div>
 </div>

</div>
  <div class="grid-item">
      
 <div class="dropdown">
 <button class="dropbtn">Custard</button>
 <div class="dropdown-content">
   <a href="http://www.frankielucybakeshop.com/">Frankie Lucy</a>
   <a href="https://www.ritasice.com/">Rita's Italian Ice</a>
   <a href="https://eattopround.com/">Top Round Roast Beef </a>
 </div>
 </div></div>
 
  <div class="grid-item">
      
 <div class="dropdown">
 <button class="dropbtn">Cotton Candy</button>
 <div class="dropdown-content">
   <a href="https://www.milktavern.com/">Milk Tavern</a>
   <a href="https://www.facebook.com/cottonhi/">Cotton-Hi</a>
   <a href="https://www.yelp.com/biz/mini-monster-anaheim-11">Mini Monster</a>
 </div></div></div>
 
  <div class="grid-item">
 <div class="dropdown">
 <button class="dropbtn">Baked Goods</button>
 <div class="dropdown-content">
   <a href="http://breadlounge.com/">Bread Lounge</a>
   <a href="http://www.pitchounbakery.com/">Pitchoun</a>
   <a href="https://labaking.com/#!home">Los Angeles Baking Company</a>
 </div>
 </div>
 </div>
 
  <div class="grid-item">
 <div class="dropdown">
 <button class="dropbtn">Fudge</button>
 <div class="dropdown-content">
   <a href="https://www.johnkellychocolates.com/">John Kelly Chocolates</a>
   <a href="http://www.fudgefatale.com/about.htm">Fudge Fatale</a>
   <a href="http://littlejohnscandies.com/">Little John's candies</a>
 </div>
 </div>
 </div>
 
  <div class="grid-item">
 <div class="dropdown">
 <button class="dropbtn">Milkshakes and Malts</button>
 <div class="dropdown-content">
   <a href="https://www.101coffeeshop.com/">101 Coffee Shop</a>
   <a href="https://www.sweetrosecreamery.com/">Sweet Rose Creamery</a>
   <a href="https://www.themilkshop.com/">Milk</a>
 </div>
 </div>
</div>
</div>
     
     </body>
      </html>
      