<!DOCTYPE html> 
<html> 
<head> 
<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<title>Sweets in major cities</title> 
<script src="code.js" type="text/javascript" charset="utf-8"></script> 
<link href="sweet.css" rel="stylesheet" type="text/css"> 
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'> 
</head> 
<body> 
<h1>Please pick a sweet from New York</h1> 

<div class="grid-container"> 
<div class="grid-item">
 <div class="dropdown"> 


<button class="dropbtn">Ice Cream</button>
<div class="dropdown-content"> 
<a href="https://www.tripadvisor.com/Restaurant_Review-g60763-d10546455-Reviews-Penguin_Ice_Cream-New_York_City_New_York.html">Penguin Ice Cream</a> 
<a href="http://www.brooklynfarmacyandsodafountain.com/">Brooklyn Farmacy & Soda Fountain</a> 
<a href="https://www.myeggloo.com/">Eggloo</a> 
</div> 
</div>
</div>
<div class="grid-item">
 <div class="dropdown"> 


<button class="dropbtn">Custard</button> <div class="dropdown-content"> 
<a href="https://taiyakinyc.com/">Taiyaki NYC</a> 
<a href="http://www.tiapol.com/">Tía Pol</a> 
<a href="http://www.wolfiescustard.com/npIndex.html">Wolfies Frozen Custard</a> 
</div> 
</div> 
</div>


<div class="grid-item"> 
<div class="dropdown">
     <button class="dropbtn">Cotton Candy</button>
     <div class="dropdown-content"> 
<a href="https://www.tripadvisor.com/Restaurant_Review-g60763-d13338563-Reviews-Binki_Cafe-New_York_City_New_York.html">Binki Cafe</a> 
<a href="https://www.thesweetshopnyc.com/">The Sweets Shops NY</a> 
<a href="http://www.liddabitsweets.com/">Liddabit Sweets</a> 
</div> 
</div> 
</div>


<div class="grid-item">
     <div class="dropdown"> 
     <button class="dropbtn">Baked Goods</button> 
     <div class="dropdown-content"> 
<a href="https://www.sweetsbakeryilm.com/">Sweets Bakery</a> 
<a href="https://www.recolte.id/">Recolte Bakery</a> 
<a href="https://www.patisseriechanson.com/#!home">Patisserie Chanson</a> 
</div> 
</div> 
</div> 


<div class="grid-item"> <div class="dropdown"> <button class="dropbtn">Fudge</button> <div class="dropdown-content"> 
<a href="https://www.li-lacchocolates.com/">Li-Lac Chocolates</a> 
<a href="http://www.philipscandy.com/about.html">Philips Candy</a> 
<a href="https://www.thechocolateroombrooklyn.com/">The Chocolate Room</a> 
</div> 
</div> 
</div> 


<div class="grid-item"> <div class="dropdown"> <button class="dropbtn">Milkshakes and Malts</button> <div class="dropdown-content"> <a href="https://blacktapnyc.com/">Black Tap</a> 
<a href="https://www.bigdaddysnyc.com/">Big Daddy's NYC</a> 
<a href="https://www.oddfellowsnyc.com/">OddFellows Ice Cream Co.</a> 
</div> 
</div> 
</div> 
</div>


</body> 
</html>