<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Sweets in major cities</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>        
        <link href="sweet.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    </head>
<body>
<h1>Please pick a sweet from St.Louis</h1>
        
<div class="grid-container">
 <div class="grid-item">
 
 <div class="dropdown">
 <button class="dropbtn">Ice Cream</button>
 <div class="dropdown-content">
   <a href="https://www.serendipity-icecream.com/">Serendipty</a>
   <a href="http://www.icesplainandfancy.com/">Ice's Plain and Fancy</a>
   <a href="http://gelatodiriso.com/">Gelato Di Riso</a>
 </div>
</div>

</div>
  <div class="grid-item">
 <div class="dropdown">
 <button class="dropbtn">Custard</button>
 <div class="dropdown-content">
   <a href="http://teddrewes.com/">Ted Drewes</a>
   <a href="http://www.stlouiscustard.com/">Custard Factory</a>
   <a href="https://www.doozlesfrozencustard.com/">Doozle's Frozen Custard </a>
 </div></div></div>
  <div class="grid-item">
      
 <div class="dropdown">
 <button class="dropbtn">Cotton Candy</button>
 <div class="dropdown-content">
   <a href="http://www.kirkwoodsugarshack.com/">Sugar Shack</a>
   <a href="http://www.howsweetisthis.com/">How Sweet is This</a>
   <a href="https://www.lolliandpops.com/">Lolli and Pops</a>
 </div></div></div>
 
  <div class="grid-item">
 <div class="dropdown">
 <button class="dropbtn">Baked Goods</button>
 <div class="dropdown-content">
   <a href="https://www.sucrosebakerystl.com/">Sucrose</a>
   <a href="https://vincentvandoughnut.com/">Vincent Van Donut</a>
   <a href="http://sweetartstl.com/">SweetArt</a>
 </div>
 </div>
 
 </div>
  <div class="grid-item">
 <div class="dropdown">
 <button class="dropbtn">Fudge</button>
 <div class="dropdown-content">
   <a href="http://www.fudgeryfudge.com/">The Fudgery</a>
   <a href="https://www.chocolatechocolate.com/">Chocolate Chocolate Chocolate Company</a>
   <a href="https://www.missmscandy.com/">Miss M's Sweet Shop</a>
 </div>
 </div>
 
 </div>
  <div class="grid-item">
 <div class="dropdown">
 <button class="dropbtn">Milkshakes and Malts</button>
 <div class="dropdown-content">
   <a href="https://crowncandykitchen.net/">Crown Candy</a>
   <a href="http://www.fountainonlocust.com/">The Fountain on Locust</a>
   <a href="http://baileysrange.com/">Bailey's Range</a>
 </div>
 </div>
  </div>
  </div>
     </body>
      </html>
      